<% @songs.each do |song| %>
	<div class="songs">
		<h3>Song title: <%= song.title %></h3>
		<p>Author: <%= song.author %></p>
		<% if song.url %>
			<p><a href="<%= song.url %>">Let's hear it!</a></p>
		<% end %>
	</div>
<% end %>