<% if @song.errors.any? %>
	<div>
		<strong>Some issues with your submission, please fix them:</strong>
		<ul>
			<% @song.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<form method="post" action="/songs">
	<fieldset class="form-group">
		<input placeholder="Song Title" class="form-control" type="text" name="title" value="<%= @song.title %>">
		<input placeholder="Artist" class="form-control" type="text" name="author" value="<%= @song.author %>">
		<input placeholder="Video URL" class="form-control" type="text" name="url" value="<%= @song.url %>">
	</fieldset>
	<button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
</form>