<div class='jumbotron'>
	<h1>Welcome to Music Wall!</h1>
	<p class="lead">A chaotic place to post your music, check what everyone else is listening to and vote for songs you like.</p>
	<p>
		<a class="btn btn-lg btn-success" href="/songs/new">Add a Song Now!</a>
	</p>
</div>

<div class="row marketing">
	<%= erb(:'songs/index') %>
</div>