<% if @user && @user.errors.any? %>
	<div>
		<strong>Some issues with your submission, please fix them:</strong>
		<ul>
			<% @user.errors.full_messages.each do |message| %>
				<li><%= message %></li>
			<% end %>
		</ul>
	</div>
<% end %>

<form class="form-signin" method="post" action="/signup">
		<h2 class="form-signin-heading">Sign up</h2>
		<input type="email" id="inputEmail" class="form-control" name="email" placeholder="Email" value="<%= @user.email %>">
		<input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password">
		<button class="btn btn-lg btn-primary btn-block" type="submit">Sign me up!</button>
</form>